.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navigation */

.navbar {
  display: flex;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 141, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

.person {
  float: left;
  display: block;
  margin-left: 32px;
  margin-right: 32px;
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.navlink {
  float: left;
  display: block;
  margin-left: 32px;
  margin-right: 32px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nav .navlink:hover {
  background-color: rgb(241, 111, 24);
}

/* Projects */

.project-container {
  display: flex;
  width: 100%;
}

.project-card {
  /* border: 2px solid red; */
  width: 33%;
  border-radius: 16px;
  margin: 1%;
  color: white;
  background-color: #505869;
}

.project {
  width: 90%;
  height: 90%;
  margin: 5%;
  color: white;
  text-decoration: none;
}

.project img {
  width: 90%;
  height: 90%;
  border-radius: 8px;
  object-fit: cover;
}

.project h3 {
  font-weight: 600;
}

/* Blogs */

.blog-container {
  display: flex;
  width: 100%;
}

.blog-card {
  /* border: 2px solid red; */
  border: 1px solid red;
  width: 33%;
  border-radius: 16px;
  margin: 1%;
  color: white;
  background-color: #505869;
}

.blog {
  width: 90%;
  height: 90%;
  margin: 5%;
  color: white;
  text-decoration: none;
}

.blog img {
  width: 90%;
  height: 90%;
  border-radius: 8px;
  object-fit: cover;
}

.blog h3 {
  font-weight: 600;
}

/* Maze */

.perspective {
  font-size: 0;
  /* background-color: rgba(194, 194, 194, 0.8);
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%),
                    -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%);
  background-size: 50px 50px;
  box-shadow: 0 0 0 .1em hsla(0,0%,0%,.2); */
  height: calc(50 * 64px);
  left: -50%;
  margin: -7.5em;
  padding: 50px;
  position: absolute;
  z-index: 1;
  top: -70%;
  width: calc(50 * 64px);
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
  display: flex;
  flex-flow: row wrap;
}
.row {
  /* height: 3em;
  width: 3em; */
  /* -webkit-transform-style: preserve-3d; */
}
.top,
.left,
.right {
  /* box-shadow: inset 0 0 0 .25em hsla(0,0%,0%,.1); */
  /* content: ''; */
  /* float: left; */
  height: 50px;
  /* position: absolute; */
  width: 50px;
  /* backface-visibility: hidden;
  margin: -0.3px; */
/*     -webkit-transition-delay: .05s; */
}
.cube {
  --colorPrimary-h: 25;
  --colorPrimary-s: 100%;
  --colorPrimary-a: 1;
  --colorBefore-h: calc(var(--colorPrimary-h) - 10);
  --colorAfter-h: calc(var(--colorPrimary-h) - 5);
  --colorPrimary: hsl(var(--colorPrimary-h), var(--colorPrimary-s), 50%, var(--colorPrimary-a));
  --colorBefore: hsl(var(--colorBefore-h), var(--colorPrimary-s), 30%, var(--colorPrimary-a));
  --colorAfter: hsl(var(--colorAfter-h), var(--colorPrimary-s), 40%, var(--colorPrimary-a));
  -webkit-transform: translateZ(50px);
  -webkit-transform-style: preserve-3d;
  display: flex;
  flex-flow: row wrap;
}
/* Top */
.top {
  background-color: var(--colorPrimary);
  position: relative;
  /* -webkit-transform: translateZ(0em); */
  -webkit-transform-style: preserve-3d;
}
/* Left */
.left {
  position: absolute;
  background-color: var(--colorAfter);
  -webkit-transform: rotateX(-90deg) translateY(50px);
  -webkit-transform-origin: right bottom;
  /* -webkit-transition: transform 3s; */
}
/* Right */
.right {
  position: absolute;
  background-color: var(--colorBefore);
  -webkit-transform: rotateY(90deg) translateX(50px);
  -webkit-transform-origin: right top;
}
.cube:hover {
--colorPrimary-h: 100;
--colorPrimary-a: 0.4;
}
/* .cube:hover:after {
-webkit-transform: rotateX(90deg) translateY(3em);
} */
/* Alternate Colour */
/* .cube:nth-child(even) {
  background-color: transparent;
}
.cube:nth-child(even):after {
  background-color: transparent;
}
.cube:nth-child(even):before {
  background-color: transparent;
} */
/* Animation */
@-webkit-keyframes fromRight {
  0% { -webkit-transform: translateY(-3em) translateZ(3em); }
}
@-webkit-keyframes fromLeft {
  0% { -webkit-transform: translateX(-3em) translateZ(3em); }
}
@-webkit-keyframes fromBelow {
  50% { -webkit-transform: translateZ(0.1em); }
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(405deg); }
}
/* .perspective {
  -webkit-animation: rotate 9s linear infinite;
} */
/* .cube:nth-child(1) {
  -webkit-animation: fromBelow 1s ease-in-out 0s infinite both;
}
.cube:nth-child(2) {
  -webkit-animation: fromBelow 1s ease-in-out 0.3s infinite both;
}
.cube:nth-child(3) {
  -webkit-animation: fromBelow 1s ease-in-out 0.6s infinite both;
}
.cube:nth-child(4) {
  -webkit-animation: fromBelow 1s ease-in-out 0.9s infinite both;
}
.cube:nth-child(5) {
  -webkit-animation: fromBelow 1s ease-in-out 1.2s infinite both;
}
.cube:nth-child(6) {
  -webkit-animation: fromBelow 1s ease-in-out 1.5s infinite both;
}
.cube:nth-child(7) {
  -webkit-animation: fromBelow 1s ease-in-out 1.8s infinite both;
}
.cube:nth-child(8) {
  -webkit-animation: fromBelow 1s ease-in-out 2.1s infinite both;
}
.cube:nth-child(9) {
  -webkit-animation: fromBelow 1s ease-in-out 2.4s infinite both;
}​ */