.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navigation */

.navbar {
  display: flex;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 141, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

.person {
  float: left;
  display: block;
  margin-left: 32px;
  margin-right: 32px;
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.navlink {
  float: left;
  display: block;
  margin-left: 32px;
  margin-right: 32px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nav .navlink:hover {
  background-color: rgb(241, 111, 24);
}

.project-container {
  display: flex;
}

.project-card {
  border: 2px solid red;
  margin: 3%;
  color: white;
}

.project h3 {
  font-weight: 600;
}